@media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:30em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:40em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:58.8em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:64em) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:80em) {
    /* hi-res laptops and desktops */
}

html, body {
    min-height: 100%;
    /* background-color: #48d889; */
    /* background-color: #5f7660; */
    background-color: #99ab8c;
}

/*------NavBar-------*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    z-index: 3;
    background-color: inherit;
    color: white;
    align-items: center !important;
    font-weight: 600;
    padding: 1.5em 0em 1.5em 0.5em;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.185);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 280ms cubic-bezier(0.5, 0, 0.1, 1);
}

.flexItems {
    font-size: 1.3em;
    align-items: center !important;
    display: inline-flex;
    justify-content: space-between;
}

@media (min-width:20em) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .flexItems {
        height: 1.5em;
        /* padding-right: 0.3em; */
    }

    .logo {
        /* width: 4em; */
        color: inherit;
        padding-right: 4px;
    }

    .logo:hover {
        text-decoration: none;
        color: inherit;
    }

    button {
        border: 0;
        background-color: inherit;
        font-size: 0.8em;
        padding: 0 0.5em;
    }

    /* button:hover{
    background-color: #57faa1;
    border-radius: 1em;
} */

}

@media (min-width:58.8em) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .flexItems {
        height: 1.7em;
        /* padding-right: 3em; */
    }

    button {
        padding: 0 3em;
    }

    /* button:hover{
        background-color: #57faa1;
        border-radius: 1em;
    } */
}



/*----------------------Notes--------------------*/
.notes {
    padding: 20px 100px;
    grid-gap: 60px 25px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
    margin-top: 4.9em;
}

.note {
    width: auto;
    height: 300px;
    /* margin: 20px;*/
    position: relative;
    overflow: hidden;
    /* background-color: #4aed93; */
    background-color: white;
    /* #2ec572 */
    color: black;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.note img {
    padding: 1px;
    height: 86%;
    max-width: 100%;
    object-fit: cover;
    z-index: 1;
}

.title {
    outline: none;
    margin: 0;
    padding: 1% 5%;
    font-size: 1.5em;
    text-align: left;
    position: absolute;
    text-overflow: ellipsis;
    z-index: 2;
    width: 100%;
    /* overflow: hidden; */
    /* background: -webkit-linear-gradient(-90deg, rgba(23, 24, 26, 0.85), rgba(23, 24, 26, 0)); */
    /* background: linear-gradient(180deg, rgba(23, 24, 26, 0.85), rgba(23, 24, 26, 0)); */
    transition: all 280ms cubic-bezier(0.5, 0, 0.1, 1);
}


/* .title:hover{
    background: -webkit-linear-gradient(-90deg, rgba(23, 24, 26, 0.85), rgba(23, 24, 26, 0));
    background: linear-gradient(180deg, rgba(23, 24, 26, 0.85), rgba(23, 24, 26, 0));
    transition: all 280ms cubic-bezier(0.5, 0, 0.1, 1);
} */

.content {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: inline-flex;
    width: 100%;
    height: 14%;
    text-align: end;
    /* box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); */
    /* background-color: #30ac68; */
    background-color: inherit;
    justify-content: space-between;
}

.content p {
    margin: 0px;
    padding: 0px 6px;
}

.delete {
    /* position: absolute; */
    z-index: 2;
    /* left: 0; */
    height: 100%;
    background-color: inherit;
    /* background-color: #30ac68; */
    bottom: 0;
    font-size: 130%;
    padding: 2%;
    /* padding: 2% 2%; */
}

/*----------------Footer----------------------*/

.footer {
    bottom: 0;
    color: rgb(255, 255, 255);
    margin-top: 4.9em;
    padding: 1% 0;
    text-align: center;
    width: 100%;
}

.bi-github {
    font-size: 2em;
}

/* ---------------------Fabric------------------- */

.canvas-container {
    margin: auto;
    margin-top: 4.9em;
    margin-bottom: 4.9em;
}

/* 
canvas{
    display: block!important;
    /* height: 100vh!important; */
/* height: 40%!important; */
/* } */

canvas {
    margin-bottom: auto;
}

/*---------------------Header Fabric---------------*/
/* .headerFabric {
    background: -webkit-linear-gradient(-90deg, rgba(23, 24, 26, 0.85), rgba(23, 24, 26, 0));
    background: linear-gradient(180deg, rgba(23, 24, 26, 0.85), rgba(23, 24, 26, 0)); */
/* } */

button:hover{
    background-color: #00000080;
    border-radius: 10em;
}

button:active {
    color: black;
}